<nav class="navbar navbar-expand-lg color-white">
  <div class="container-fluid">
    <a class="navbar-brand" href="/"> <img src="/img/logo.png" class="" alt="Logo"> </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link kanit-navbar color-blue active" aria-current="page" href="/">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link kanit-navbar color-blue" href="/category/casualcomfort">Casual</a>
        </li>
         <li class="nav-item">
          <a class="nav-link kanit-navbar color-blue" href="/category/urbanedge">Urban</a>
        </li>
        <li class="nav-item">
          <a class="nav-link kanit-navbar color-blue" href="/category/smartsophistication">Smart</a>
        </li> 
        <li class="nav-item">
          <a class="nav-link kanit-navbar color-blue" href="/about">About Us</a>
        </li>                       
      </ul>
      <form class="d-flex color-blue" role="search">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success color-blue" type="submit">Search</button>
      </form>
    </div>
  </div>
</nav>