<form action="/" method="GET" enctype="multipart/form-data">
    <input type="hidden" name="hush" val="hidden, but not secret!"> 

    <div class="mb-3">
        <label class="form-label" for="fieldName">Your name:</label>
        <input class="form-control" type="text" id="field" name="name">
    </div>

    <div class="mb-3">
        <label class="form-label" for="fieldColor">Your favorite color:</label>
        <input class="form-control" type="text" id="fieldColor" name="color">
        <!-- NEEDS to have a name -->
    </div>
    <div class="mb-3">
        <button class="btn btn-primary" type="submit">Submit</button>
    </div>
</form>