<nav class="navbar navbar-expand-lg color-white">
  <div class="container-fluid">
    <a class="navbar-brand" href="/"> <img src="/img/logo.png" class="" alt=""> </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link kanit-navbar color-black active" aria-current="page" href="/">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link kanit-navbar color-black" href="#about">About</a>
        </li>
         <li class="nav-item">
          <a class="nav-link kanit-navbar color-black" href="#services">Services</a>
        </li>
        <li class="nav-item">
          <a class="nav-link kanit-navbar color-black" href="#packages">Packages</a>
        </li> 
        <li class="nav-item">
          <a class="nav-link kanit-navbar color-black" href="#gallery">Gallery</a>
        </li>                       
        <li class="nav-item dropdown">
          <a class="nav-link kanit-navbar color-black dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Places to see
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="/victoria">Victoria Memorial</a></li>
            <li><a class="dropdown-item" href="/howrah">Howrah Bridge</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="/streetfood">Street Food</a></li>
            <li><a class="dropdown-item" href="/durgapuja">Durga Puja</a></li>
          </ul>
        </li>
      </ul>
      <form class="d-flex" role="search">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form>
    </div>
  </div>
</nav>